<p class="text-center fs-3" [ngClass]="isAccountCreated ? 'text-success pb-1' : 'text-danger pb-1'">
  {{displayMsg}}

</p>

  <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border p-3 rounded-3">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">Register</span>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname">
        <div class="form-text text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
          First Name is Required
        </div>
        <div class="form-text text-danger" *ngIf="FirstName.errors?.['minlength'] && (FirstName.touched || FirstName.dirty)">
          First Name is too Short
        </div>
      </div>
      <div class="col mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
        <div class="form-text text-danger" *ngIf="LastName.errors?.['required'] && (LastName.touched || LastName.dirty)">
          Last Name is Required
        </div>
        <div class="form-text text-danger" *ngIf="LastName.errors?.['minlength'] && (LastName.touched || LastName.dirty)">
          Last Name is too Short
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
           Email is Required
        </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
          Email is Invalid
        </div>

        <div class="form-text"></div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="mobile" class="form-label">Mobile Number</label>
          <input type="text" class="form-control" id="mobile" formControlName="mobile">
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">
            Number is Required
          </div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.touched || Mobile.dirty)">
            Number is Short
          </div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.touched || Mobile.dirty)">
             Number is long
          </div>
          <div class="form-text"></div>
        </div>
        <div class="col ps-3 mb-3">
          <div class="m-1">Gender</div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" value="m" id="male" formControlName="gender">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" value="f" id="female" formControlName="gender">
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd" formControlName="pwd">
        <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.touched || PWD.dirty)">
          Password is Required
        </div>
        <div class="form-text text-danger" *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.touched || PWD.dirty)">
          Password should be 6 to 15 characters long
        </div>
        <div class="form-text"></div>
      </div>
      <div class="col mb-3">
        <label for="rpwd" class="form-label">Repeat Password</label>
        <input type="password" class="form-control" id="rpwd" formControlName="rpwd">
        <div class="form-text text-danger" [ngStyle]="{'display' : repeatPass}">
          Repeat Pass is Invalid
        </div>
        <div class="form-text"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid">
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <span class="me-2">Already have Account?</span><a routerLink="/login">Login</a>
      </div>

    </div>
  </form>

