<form class="border p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Login</span>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
        Email is Required
      </div>
      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
        Email is Invalid
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" class="form-control" id="pwd" formControlName="pwd">
      <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
        Password is Required
      </div>
      <div class="form-text text-danger" *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
        Password should be atleast 6 and 15 charecters long
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <span class="me-2">Don't have Account?</span><a routerLink="/register">Register</a>

    </div>

  </div>
</form>
